doctype html
html(lang="en")
  include default-partials/_html-header

  body(class=page)
    input#showWallpaper(type="checkbox")
    label#showWallpaperLbl(for="showWallpaper") Показать
        strong Модель
        b Сайт

    .wallPaper
    #mainHolder.wrapper
        include default-partials/_header
        section
          block content
        include default-partials/_footer
    script #{analytics}
    script !{metrika}
    noscript !{metrika_no_script}
    script(type='text/javascript').
      var addthis_config = addthis_config||{};
      addthis_config.lang = 'ru';
    script(src='#{addthis_url}')
