---
const url = "https://api-maps.yandex.ru/services/constructor/1.0";
const reference =
  "um=constructor%3Af0fbc4b76fad6fcb0fec5ea5832615d14c237c8d3b5cdb411f91e246271dd05f";
const width = "width=640";
const height = "height=300";
const staticmapY = `${url}/static/?${reference}&${width}&${height}&lang=ru_RU`;
const dynamicmapY = `${url}/js/?${reference}&${height}&lang=ru_RU&scroll=true`;
---

<div class="roadmap" style={`background-image: url(${staticmapY})`}>
  <script type="text/javascript" charset="utf-8" async src={dynamicmapY}
  ></script>
</div>
<style>
  /* Map */
  .roadmap {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: 300px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
</style>
