extends ./layouts/_default

block content
  div#about
    :markdown-it
      **ЧП Верона Мебель** предоставляет услуги по изготовлению корпусной мебели.

      Нашим клиентам мы предоставляем полный спектр услуг, в них входят: выезд дизайнера на дом для замеров и выбора модели, доставка и установка мебели.

      Подбор дизайна желаемой мебели
      - Фотографии изготовленной нами мебели.
      - Каталоги европейских производителей.
      - Нарисуем предложенные вами идеи на бумаге или в дизайнерской программе PRO100.

      После получения заказа обговариваются сроки изготовления и предоплата. Заключается гарантийное соглашение.

      При изготовлении мебели мы используем качественные материалы
      - Фурнитура: Польша, Германия, Турция.
      - Производители МДФ, ЛДСП (ламинат): Польша, Украина, Россия, Эстония.
      - Богатая цветовая палитра на выбор.

    p.
      Звоните по телефону #{phone.mobile}.<br>
      График работы с 09:00 - до 19:00, воскресенье выходной.
    p.
      Встретиться с нами вы можете по адресу #{address}.

    a(href=maplink)
      img.roadmap(src=mapsrc)
  div#certificates.certificates
    img.cert(src=certsrcs.one)
    img.cert(src=certsrcs.two)
    img.cert(src=certsrcs.three)
